# Import relevant libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.impute import SimpleImputer
from sklearn.utils import resample
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

ModuleNotFoundError: No module named 'sklearn'

# Load the dataset and explore

In [4]:
df = pd.read_csv('..\\data\\weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,Yes
1,2/12/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,3/12/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,4/12/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,5/12/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

# Processing and cleaning - Abdul

# Processing and cleaning - Fran

# Processing and cleaning - Reuben

In [7]:
#change date to date time
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

#replace MinTemp NA with mean
mean_min_temp = df['MinTemp'].mean()
df['MinTemp'].fillna(mean_min_temp)

#replace MaxTemp NA with mean
mean_max_temp = df['MaxTemp'].mean()
df['MaxTemp'].fillna(mean_max_temp)

#replace Rainfall NA with mean
mean_rainfall = df['Rainfall'].mean()
df['Rainfall'].fillna(mean_rainfall)

#replace WindGustSpeed NA with mean
mean_wind_gust_speed = df['WindGustSpeed'].mean()
df['WindGustSpeed'].fillna(mean_wind_gust_speed)

#replace WindSpeed9am NA with mean
mean_wind_speed_9am = df['WindSpeed9am'].mean()
df['WindSpeed9am'].fillna(mean_wind_speed_9am)

#replace WindSpeed3pm NA with mean
mean_wind_speed_3pm = df['WindSpeed3pm'].mean()
df['WindSpeed3pm'].fillna(mean_wind_speed_3pm)

#replace Humidity9am NA with mean
mean_humidity_9am = df['Humidity9am'].mean()
df['Humidity9am'].fillna(mean_humidity_9am)

#replace Humidity3pm NA with mean
mean_humidity_3pm = df['Humidity3pm'].mean()
df['Humidity3pm'].fillna(mean_humidity_3pm)

#replace Pressure9am NA with mean
mean_pressure_9am = df['Pressure9am'].mean()
df['Pressure9am'].fillna(mean_pressure_9am)

#replace Pressure3pm NA with mean
mean_pressure_3pm = df['Pressure3pm'].mean()
df['Pressure3pm'].fillna(mean_pressure_3pm)

#replace Temp9am NA with mean
mean_Temp_9am = df['Temp9am'].mean()
df['Temp9am'].fillna(mean_Temp_9am)

#replace Temp3pm NA with mean
mean_Temp_3pm = df['Temp3pm'].mean()
df['Temp3pm'].fillna(mean_Temp_3pm)

#remove columns
columns_to_remove = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'Cloud9am', 'Cloud3pm']
df = df.drop(columns=columns_to_remove, inplace=True)

print(df.columns)

TypeError: 'NoneType' object is not subscriptable

# Processing and cleaning - AM

# Split into training and test data

# Select and Train Model

# Evaluate the Model